.frame-child,
.frame-item {
  position: absolute;
  top: 636px;
  left: 0;
  width: 6410px;
  height: 30.9px;
}
.frame-item {
  top: 0;
  left: 1212px;
  background-color: #696767;
  width: 5199px;
  height: 661px;
}
.logo {
  position: absolute;
  top: 86px;
  left: 119px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 1000px;
  height: 1000px;
}
.kjsdafjdsakjfhsakjdfsdnf,
.kjsdafjdsakjfhsakjdfsdnf1 {
  position: absolute;
  top: 392px;
  left: 1203px;
  color: var(--color-white);
  display: inline-block;
  width: 5208px;
  height: 241px;
}
.kjsdafjdsakjfhsakjdfsdnf1 {
  top: 9px;
}
.frame-child1,
.frame-inner,
.line-icon {
  position: absolute;
  top: 668px;
  left: 2446.2px;
  width: 17.8px;
  height: 691px;
}
.frame-child1,
.line-icon {
  left: 3867.2px;
}
.frame-child1 {
  left: 5188.2px;
}
.heljsofnidsfnjsdfkjsbfdkabfskb {
  position: absolute;
  top: 677px;
  left: 2484px;
  display: inline-block;
  width: 1383px;
  height: 682px;
}
.heljsofnidsfnjsdfkjsbfdkabfskb1,
.heljsofnidsfnjsdfkjsbfdkabfskb2,
.heljsofnidsfnjsdfkjsbfdkabfskb3 {
  position: absolute;
  top: 677px;
  left: 1054px;
  display: inline-block;
  width: 1383px;
  height: 682px;
}
.heljsofnidsfnjsdfkjsbfdkabfskb2,
.heljsofnidsfnjsdfkjsbfdkabfskb3 {
  left: 3814px;
}
.heljsofnidsfnjsdfkjsbfdkabfskb3 {
  left: 5124px;
}
.line-parent {
  position: absolute;
  top: -9px;
  left: 1px;
  background-color: #cecece;
  width: 6411px;
  height: 1359px;
  overflow: hidden;
  font-size: var(--font-size-181xl);
}
.div,
.div1 {
  position: absolute;
  top: 0;
  left: 5450px;
  display: inline-block;
  width: 823px;
  height: 132px;
}
.div1 {
  top: 10px;
  left: 2555px;
  width: 673px;
}
.frame-child2 {
  position: absolute;
  top: 65.7px;
  left: 3448.9px;
  width: 2109.1px;
  height: 23.3px;
}
.frame,
.frame-child3 {
  position: absolute;
  top: 96px;
  left: 0;
  width: 2649px;
  height: 8px;
}
.frame {
  top: 1776px;
  left: 68px;
  width: 6273px;
  height: 142px;
  overflow: hidden;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  top: 10px;
  left: 5450px;
  display: inline-block;
  width: 823px;
  height: 132px;
}
.div3,
.div4,
.div5,
.div6,
.div7 {
  top: -11px;
  left: 4558px;
}
.div4,
.div5,
.div6,
.div7 {
  left: 2238px;
}
.div5,
.div6,
.div7 {
  left: -22px;
}
.div6,
.div7 {
  top: 0;
  left: 3485px;
  width: 673px;
}
.div7 {
  left: 1345px;
}
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 86px;
  left: 4339px;
  width: 1464px;
  height: 10px;
}
.frame-child5 {
  top: 93px;
  left: 2064px;
  width: 1564px;
}
.frame-child6,
.frame1 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1437px;
  height: 13px;
}
.frame1 {
  top: 1976px;
  left: 68px;
  width: 6273px;
  height: 142px;
  overflow: hidden;
}
.div10,
.div11,
.div12,
.div13,
.div9 {
  position: absolute;
  top: -10px;
  left: 4450px;
  display: inline-block;
  width: 823px;
  height: 132px;
}
.div10,
.div11,
.div12,
.div13 {
  left: 2270px;
}
.div11,
.div12,
.div13 {
  left: 170px;
}
.div12,
.div13 {
  top: 0;
  left: 3400px;
}
.div13 {
  left: 1230px;
}
.frame-child7,
.frame-child8 {
  position: absolute;
  top: 83px;
  left: 4264px;
  width: 1464px;
  height: 10px;
}
.frame-child8 {
  left: 2154px;
  width: 1564px;
}
.frame-child9,
.frame2 {
  position: absolute;
  top: 116px;
  left: 0;
  width: 1437px;
  height: 13px;
}
.frame2 {
  top: 2166px;
  left: 68px;
  width: 6273px;
  height: 132px;
  overflow: hidden;
}
.frame-child10,
.frame-child11,
.rectangle-div {
  position: absolute;
  top: 16px;
  left: 106px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 949px;
  height: 358px;
}
.frame-child10,
.frame-child11 {
  top: 866px;
}
.frame-child11 {
  top: 446px;
}
.div14,
.div15,
.div16,
.zeeshan-ahmad,
.zeeshan-ahmad1,
.zeeshan-ahmad2 {
  position: absolute;
  top: 92px;
  left: 68px;
  display: inline-block;
  width: 901px;
  height: 164px;
}
.div14,
.div15,
.div16,
.zeeshan-ahmad1,
.zeeshan-ahmad2 {
  top: 922px;
}
.div14,
.div15,
.div16,
.zeeshan-ahmad2 {
  top: 502px;
}
.div14,
.div15,
.div16 {
  top: 210px;
  left: 0;
}
.div15,
.div16 {
  top: 1060px;
}
.div16 {
  top: 640px;
}
.frame-child12,
.frame-child13,
.frame-child14,
.frame-child15,
.frame-child16,
.frame-child17 {
  position: absolute;
  top: 0;
  left: 5817px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dodgerblue);
  width: 474px;
  height: 215px;
}
.frame-child13,
.frame-child14,
.frame-child15,
.frame-child16,
.frame-child17 {
  left: 4613px;
  width: 1178px;
}
.frame-child14,
.frame-child15,
.frame-child16,
.frame-child17 {
  left: 3815px;
  width: 766px;
}
.frame-child15,
.frame-child16,
.frame-child17 {
  left: 1128px;
  width: 853px;
}
.frame-child16,
.frame-child17 {
  left: 2898px;
}
.frame-child17 {
  left: 2018px;
}
.adsj,
.adsj1,
.adsj2,
.adsj3,
.adsj4,
.adsj5 {
  position: absolute;
  top: 31px;
  left: 5875px;
  color: var(--color-gray);
  text-align: center;
  display: inline-block;
  width: 358px;
  height: 143px;
}
.adsj1,
.adsj2,
.adsj3,
.adsj4,
.adsj5 {
  left: 4757px;
  width: 890px;
}
.adsj2,
.adsj3,
.adsj4,
.adsj5 {
  left: 3909px;
  width: 578px;
}
.adsj3,
.adsj4,
.adsj5 {
  left: 1233px;
  width: 643px;
}
.adsj4,
.adsj5 {
  left: 3003px;
}
.adsj5 {
  left: 2123px;
}
.frame-child18,
.frame-child19,
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23 {
  position: absolute;
  top: 268px;
  left: 1147px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 834px;
  height: 1017px;
}
.frame-child19,
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23 {
  left: 2037px;
}
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23 {
  left: 2929px;
}
.frame-child21,
.frame-child22,
.frame-child23 {
  left: 3827px;
  width: 754px;
}
.frame-child22,
.frame-child23 {
  left: 4645px;
  width: 1146px;
}
.frame-child23 {
  left: 5841px;
  width: 450px;
}
.skjahfjdsahfkjsahdf,
.skjahfjdsahfkjsahdf1,
.skjahfjdsahfkjsahdf2 {
  position: absolute;
  top: 421px;
  left: 1228px;
  display: inline-block;
  width: 707px;
  height: 401px;
}
.skjahfjdsahfkjsahdf1,
.skjahfjdsahfkjsahdf2 {
  left: 2118px;
}
.skjahfjdsahfkjsahdf2 {
  left: 3010px;
}
.skjahfjdsahfkjsahdf3,
.skjahfjdsahfkjsahdf4,
.skjahfjdsahfkjsahdf5 {
  position: absolute;
  top: 421px;
  left: 3900px;
  display: inline-block;
  width: 639px;
  height: 401px;
}
.skjahfjdsahfkjsahdf4,
.skjahfjdsahfkjsahdf5 {
  left: 4756px;
  width: 972px;
}
.skjahfjdsahfkjsahdf5 {
  left: 5884px;
  width: 382px;
}
.skjahfjdsahfkjsahdf6,
.skjahfjdsahfkjsahdf7,
.skjahfjdsahfkjsahdf8,
.skjahfjdsahfkjsahdf9 {
  position: absolute;
  top: 826px;
  left: 1228px;
  display: inline-block;
  width: 707px;
  height: 364px;
}
.skjahfjdsahfkjsahdf7,
.skjahfjdsahfkjsahdf8,
.skjahfjdsahfkjsahdf9 {
  left: 2118px;
}
.skjahfjdsahfkjsahdf8,
.skjahfjdsahfkjsahdf9 {
  left: 3010px;
}
.skjahfjdsahfkjsahdf9 {
  left: 3900px;
  width: 639px;
}
.skjahfjdsahfkjsahdf10,
.skjahfjdsahfkjsahdf11 {
  position: absolute;
  top: 884px;
  left: 4756px;
  display: inline-block;
  width: 972px;
  height: 401px;
}
.skjahfjdsahfkjsahdf11 {
  top: 826px;
  left: 5884px;
  width: 382px;
  height: 364px;
}
.frame3 {
  position: absolute;
  top: 2329px;
  left: 0;
  width: 6291px;
  height: 1285px;
  overflow: hidden;
}
.frame-child30,
.frame-child31,
.frame-child32 {
  position: absolute;
  top: 358px;
  left: 5335px;
  width: 1006px;
  height: 7.2px;
}
.frame-child31,
.frame-child32 {
  left: 1152px;
  width: 745px;
}
.frame-child32 {
  top: 0;
  left: 106px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 949px;
  height: 358px;
}
.div17,
.sdfkjasdkjfhsajdfhkjsahdfkjasd,
.zeeshan-ahmad3 {
  position: absolute;
  top: 56px;
  left: 68px;
  display: inline-block;
  width: 901px;
  height: 164px;
}
.div17,
.sdfkjasdkjfhsajdfhkjsahdfkjasd {
  top: 194px;
  left: 0;
}
.sdfkjasdkjfhsajdfhkjsahdfkjasd {
  top: 9px;
  left: 1117px;
  width: 5224px;
  height: 144px;
}
.frame-child33,
.frame-child34,
.frame-child35,
.frame-child36,
.frame-child37 {
  position: absolute;
  top: 194px;
  left: 2007px;
  background-color: var(--color-gainsboro);
  width: 374px;
  height: 245px;
}
.frame-child34,
.frame-child35,
.frame-child36,
.frame-child37 {
  left: 2407px;
}
.frame-child35,
.frame-child36,
.frame-child37 {
  left: 2807px;
}
.frame-child36,
.frame-child37 {
  left: 3207px;
}
.frame-child37 {
  left: 3607px;
}
.frame-child38 {
  position: absolute;
  left: 4007px;
}
.frame-child38,
.frame-child39,
.frame-child40 {
  top: 194px;
  background-color: var(--color-gainsboro);
  width: 374px;
  height: 245px;
}
.frame-child39 {
  position: absolute;
  left: 4407px;
}
.frame-child40 {
  left: 4807px;
}
.div18,
.frame-child40,
.frame4 {
  position: absolute;
}
.frame4 {
  top: 3625px;
  left: 0;
  width: 6341px;
  height: 439px;
  overflow: hidden;
}
.div18 {
  top: 0;
  left: 1135px;
  display: inline-block;
  width: 673px;
  height: 132px;
}
.frame-child41 {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1437px;
  height: 13px;
}
.div19,
.frame6 {
  position: absolute;
  top: 0;
  height: 132px;
}
.frame6 {
  left: 0;
  width: 1808px;
  overflow: hidden;
}
.div19 {
  left: 1390px;
  display: inline-block;
  width: 673px;
}
.frame-child42 {
  position: absolute;
  top: 65.7px;
  left: 0;
  width: 1602px;
  height: 13.3px;
}
.div20,
.frame7 {
  position: absolute;
  top: 0;
  height: 132px;
}
.frame7 {
  left: 2085px;
  width: 2063px;
  overflow: hidden;
}
.div20 {
  left: 1109px;
  display: inline-block;
  width: 823px;
}
.frame-child43,
.frame5,
.frame8 {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1269px;
  height: 13px;
}
.frame5,
.frame8 {
  top: 0;
  left: 4339px;
  width: 1932px;
  height: 132px;
  overflow: hidden;
}
.frame5 {
  top: 1556px;
  left: 68px;
  width: 6271px;
}
.div21,
.div23,
.div24,
.div25,
.div26 {
  position: absolute;
  top: 1506px;
  left: 482px;
  display: inline-block;
  width: 540px;
  height: 116px;
}
.div23,
.div24,
.div25,
.div26 {
  top: 1515px;
  left: 2644px;
  width: 526px;
  height: 88px;
}
.div24,
.div25,
.div26 {
  top: 1525px;
  left: 4622px;
  width: 643px;
  height: 128px;
}
.div25,
.div26 {
  top: 1728px;
  left: 736px;
  width: 601px;
  height: 144px;
}
.div26 {
  top: 1733px;
  left: 4461px;
  width: 603px;
  height: 92px;
}
.frame-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4064px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-81xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
